body {
  color: #999;
}

body.dark-mode {
  background-color: #333;
  color: #ccc;
}

.container {
  text-align: center;
  padding: 20px;
}

.volume-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.volume-text {
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 800;
}

.slider {
  width: 170px;
  height: 5px;
  margin: 10px 15px;
  border-radius: 5px;
  background-color: #ffffff;
  /* Bluish background color */
  appearance: none;
  /* Remove default styling */
  outline: none;
  /* Remove outline on focus */
}

.slider::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  background-color: #1565c0;
  /* Bluish handle color */
  /* Darker border color */
  border-radius: 50%;
  cursor: pointer;
  appearance: none;
  /* Remove default styling */
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #2196f3;
  /* Bluish handle color for Firefox */
  border: 2px solid #1565c0;
  /* Darker border color */
  border-radius: 50%;
  cursor: pointer;
  box-shadow: none;
  /* Remove default styling */
}

.speakers {
  display: flex;
  align-items: center;
  justify-content: center;
}

.speaker {
  font-size: 18px;
  color: #64b5f6;
  /* Bluish speaker color in dark mode */
  transition: color 0.3s;
}

.speaker:hover {
  color: #42a5f5;
  /* Lighter bluish color on hover */
}
